/* © 2011-2013 33cube, Inc. All rights reserved. */

/*--- Reset and generic styles ---*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio[controls], canvas, video { display:inline-block; *display:inline; *zoom:1; }

html { font-size:100%; -webkit-overflow-scrolling:touch; -webkit-font-smoothing:antialiased; -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body { margin:0; }
body * { -webkit-font-smoothing: antialiased !important; }

body, button, input, select, textarea { font-family:sans-serif; color:#222; }

h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:bold; }
p { margin:0; font-size:inherit; }

a { color:#000; }
a:hover, a:active { outline:0; }

b, strong { font-weight:bold; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }

ul, ol { list-style:none; margin:0; padding:0; }
dl, dt, dd { margin:0; }
nav ul, nav ol { list-style:none; margin:0; padding:0; }

img { border:0; -ms-interpolation-mode:bicubic; }
svg:not(:root) { overflow:hidden; }

figure { margin:0; }

*:focus{ outline:none; }

table { border-collapse:collapse; border-spacing:0; }

/*--- Base Styles ---*/

body {
  font-family:"ff-din-web", Helvetica, Arial, sans-serif;
}