/* © 2011-2013 33cube, Inc. All rights reserved. */

html {
  background:#fff;
}
body {
  min-width:960px;

  font-size:14px;
  line-height:17px;
  color:#000;
}

.content {
  position:relative;
  width:800px;
  margin:auto;

  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}

.button {
  display:block;
  position:relative;
  height:32px;
  min-width:72px;
  float:left;
  padding:3px 10px 4px;

  cursor:pointer;
  white-space:nowrap;

  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;

  -webkit-appearance:none;

  background:#808080;
  background:rgba(0,0,0,0.5);

  border:none;
  -webkit-border-radius:4px;
     -moz-border-radius:4px;
          border-radius:4px;

  font-family:"ff-din-web", Helvetica, Arial, sans-serif;
  font-size:14px;
  line-height:23px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-align:center;

  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;

  -webkit-user-select:none;
     -moz-user-select:none;
       -o-user-select:none;
          user-select:none;
}
.button:hover {
  background:#666;
  background:rgba(0,0,0,0.6);
}
.button:active {
  padding-top:4px;
  padding-bottom:3px;
}

/*--- Header ---*/
#header {
  position:relative;
  width:100%;
  height:600px;

  background:#e57300;
  color:#fff;
}
#header h1 {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:227px;
  height:52px;
  margin:auto;

  background:url('../images/rip_sprite.png') 0 -56px no-repeat;
  background-image:-webkit-image-set(url('../images/rip_sprite.png') 1x, url('../images/rip_sprite-2x.png') 2x);

  font:0/0 'a';
  color:transparent;
  text-shadow:none;
}
#header h2 {
  position:absolute;
  bottom:40px;
  left:0;
  right:0;

  font-size:14px;
  line-height:17px;
  font-weight:bold;
  text-align:center;
}
#header:after {
  content:" ";
  display:block;
  position:absolute;
  bottom:20px;
  left:0;
  right:0;
  width:20px;
  height:11px;
  margin:auto;

  background:url('../images/rip_sprite.png') -206px -108px no-repeat;
  background-image:-webkit-image-set(url('../images/rip_sprite.png') 1x, url('../images/rip_sprite-2x.png') 2x);
}

/*--- Intro ---*/
#intro {
  width:100%;
  margin:0;

  border-bottom:1px solid #000;
}
#intro .content {
  padding:190px 60px 120px;
}
#intro p {
  font-size:18px;
  line-height:22px;
  text-align:center;
}
#intro p + p {
  margin-top:12px;
}

/*--- Nav ---*/
#sectionNav {
  position:absolute;
  top:0;
  padding:45px 0;
}
#sectionNav.sticky {
  position:fixed;
}
#sectionNav li + li {
  margin-top:12px;
}
#sectionNav li a {
  font-weight:bold;
  color:#000;
  text-decoration:none;
}
#sectionNav li a:hover {
  text-decoration:underline;
}
#sectionNav li a.selected,
#sectionNav li a.selected:hover {
  cursor:default;
  color:#e57300;
  text-decoration:none;
}


/*--- Sections ---*/
section {
  width:600px;
  margin-left:200px;
  padding:45px 0;
}
section + section {
  border-top:1px solid #ccc;
}
section h3 {
  margin:45px 0;

  font-size:18px;
  line-height:24px;
}
section h4 {
  margin:24px 0;

  font-size:16px;
  line-height:20px;
}
section h5,
section p {
  margin:12px 0;
}
section ul,
section ol {
  margin:12px 0;
  margin-left:2em;
}
section ul {
  list-style:disc inside;
}
section ol {
  list-style:decimal inside;
}

section *:first-child {
  margin-top:0;
}

.subsection {
  margin-top:45px;
}

/*--- Graphs ---*/
.graph {
  position:relative;
  margin-bottom:10px;
}
.graph-content {
  width:600px;
  height:330px;
}
.flot-y-axis > div {
  left:0 !important;
  text-align:left;
}

.graph-legend {
  padding:5px 0;
}
.graph-legend.hidden {
  display:none;
}
.legendLabel {
  padding:3px 16px 0 0;

  color:#a3a3a3;
  line-height:22px;
}
.legendColorBox > div {
  border:none !important;
  padding:0 5px 0 0 !important;
}
.legendColorBox > div > div {
  width:0 !important;
  border-width:5px !important;
  border-radius:5px;
}

.graph-tooltip {
  display:none;
  position:absolute;
  padding:5px;

  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;

  border:none;

  background-color:#000;
  background-color:rgba(0,0,0,0.6);

  font-size:11px;
  color:#fff;
}
.graph-tooltip-series {
  display:block;

  font-size:12px;
  font-weight:bold;
}
.graph-tooltip-series.hidden {
  display:none;
}
.graph-tooltip-label {
  padding-right:5px;
  font-weight:bold;
}
.graph-tooltip.visible {
  display:block;
}

/*--- Expandoid ---*/
.expandoid {
  position:relative;
}
.expandoid-window {
  position:relative;
  height:330px;
  overflow:hidden;

  -webkit-transition:height 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
     -moz-transition:height 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
       -o-transition:height 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
          transition:height 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
}
.expandoid-window:after {
  content:" ";
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:45px;
  opacity:1;

  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
  background:-webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
  background:   -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
  background:    -ms-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
  background:     -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
  background:        linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));

  -webkit-transition-property:opacity, left;
     -moz-transition-property:opacity, left;
      -ms-transition-property:opacity, left;
       -o-transition-property:opacity, left;
          transition-property:opacity, left;
  -webkit-transition-duration:250ms, 0ms;
     -moz-transition-duration:250ms, 0ms;
      -ms-transition-duration:250ms, 0ms;
       -o-transition-duration:250ms, 0ms;
          transition-duration:250ms, 0ms;
  -webkit-transition-timing-function:linear;
     -moz-transition-timing-function:linear;
      -ms-transition-timing-function:linear;
       -o-transition-timing-function:linear;
          transition-timing-function:linear;
}
.expandoid.expanded .expandoid-window:after {
  opacity:0;
  left:-9999px;

  -webkit-transition-delay:0, 250ms;
     -moz-transition-delay:0, 250ms;
      -ms-transition-delay:0, 250ms;
       -o-transition-delay:0, 250ms;
          transition-delay:0, 250ms;
}
.expandoid-expand {
  position:absolute;
  bottom:0;
  right:10px;
  opacity:1;

  -webkit-transition-property:opacity, right;
     -moz-transition-property:opacity, right;
      -ms-transition-property:opacity, right;
       -o-transition-property:opacity, right;
          transition-property:opacity, right;
  -webkit-transition-duration:250ms, 0ms;
     -moz-transition-duration:250ms, 0ms;
      -ms-transition-duration:250ms, 0ms;
       -o-transition-duration:250ms, 0ms;
          transition-duration:250ms, 0ms;
  -webkit-transition-timing-function:linear;
     -moz-transition-timing-function:linear;
      -ms-transition-timing-function:linear;
       -o-transition-timing-function:linear;
          transition-timing-function:linear;
}
.expandoid.expanded .expandoid-expand {
  right:9999px;
  opacity:0;

  -webkit-transition-delay:0, 250ms;
     -moz-transition-delay:0, 250ms;
      -ms-transition-delay:0, 250ms;
       -o-transition-delay:0, 250ms;
          transition-delay:0, 250ms;
}

.expandoid.paddedBottom {
  padding-bottom:60px;
}
.expandoid.paddedBottom .expandoid-expand {
  bottom:15px;
}

/*--- Profit and Loss Table ---*/
.pl-table {
  width:410px;
}
.pl-table tr + tr {
  margin-top:12px;
}
.pl-table td {
  width:300px;

  line-height:26px;
  vertical-align:top;
}
.pl-table td + td {
  width:100px;
  margin-left:10px;
  text-align:right;
}

tr.pl-section td:first-child {
  text-transform:uppercase;
  font-weight:bold;
}
tr.pl-subsection td:first-child {
  font-weight:bold;
}
tr.pl-indent1 td:first-child { text-indent:1em; }
tr.pl-indent2 td:first-child { text-indent:2em; }
tr.pl-indent3 td:first-child { text-indent:3em; }
tr.pl-indent4 td:first-child { text-indent:4em; }

tr.pl-total td {
  padding-bottom:12px;
  border-top:2px solid transparent;
  font-weight:bold;
}
tr.pl-total td + td {
  border-color:#000;
}
tr.pl-total td + td:before {
  content:"$";
  float:left;
}

tr.pl-loss td + td {
  color:#cc5252;
  font-weight:bold;
}

/*--- Press Coverage ---*/
.pressItems {
  width:500px;
  list-style-type:none;
  margin:0;
}
.pressItem {
  margin-bottom:12px;
}
.pressItem-link {
  color:#e57300;
  text-decoration:none;
}
.pressItem-link:hover {
  text-decoration:underline;
}
.pressItem-publication {
  margin-left:1em;
  font-weight:bold;
}
.pressItem-date:before {
  content:" - ";
}

/*--- VC Feedback ---*/
#vc-feedback h5 {
  margin-top:24px;
}