/* © 2011-2013 33cube, Inc. All rights reserved. */

html {
  background:#1a1a1a;
}
body {
  width:680px;
  margin:auto;
  color:#fff;
}

#main {
  padding:0 20px;

  font-size:14px;
  line-height:20px;
}
#main section {
  padding:30px 0;
}
#main section + section {
  border-top:1px solid #ccc;
}

p {
  margin-bottom:20px;
}
ul {
  margin-left:20px;
  margin-bottom:20px;
}
li ul {
  margin-bottom:0;
  margin-top:10px;
}
ul li {
  position:relative;
  margin-bottom:10px;
}
ul li:before {
  content:"•";
  display:block;
  position:absolute;
  top:0;
  left:-1em;
}

a {
  color:#e57300;
}

h1 {
  margin-bottom:20px;
  font-size:24px;
  line-height:36px;
}
h2 {
  font-size:15px;
  line-height:30px;
}